
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

 
 
 tr{
    font-family: "Kodchasan", sans-serif;
    font-weight: 500;
    text-align: center;
}

      h2{
        font-family: "Kodchasan", sans-serif;
        font-weight: 500;
        text-align: center;
      }

      h3{
        font-family: "Kodchasan", sans-serif;
        font-weight: 600;
        text-align: center;
      }

       p{
        font-family: "Kodchasan", sans-serif;
        font-weight: 500;
        text-align: left;
       }
        .container {
      width: 60%;
      margin: auto;
      background: rgba(255, 255, 255, 0.911);
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 50px;
      border-radius: 2%;
  }

  button {
      font-family: "Kodchasan", sans-serif;
      font-weight: 500;
      /* Light */
      background-color: #9daf4c;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
  }

  body {
background-image: url("254687.jpg");
}

  button:hover {
      background-color: #45a049;
  }
